.block-for-preloader{
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    z-index:999999;
    background-color:#ffffff;
    text-align: center;
    display: table;
}
@-webkit-keyframes preload-show-1 {
    from {
        -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-show-1 {
    from {
        -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-hide-1 {
    to {
        -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-hide-1 {
    to {
        -webkit-transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-cycle-1 {
    5% {
        -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    10%,
    75% {
        -webkit-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    80%,
    100% {
        -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-cycle-1 {
    5% {
        -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    10%,
    75% {
        -webkit-transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    80%,
    100% {
        -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-show-2 {
    from {
        -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-show-2 {
    from {
        -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-hide-2 {
    to {
        -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-hide-2 {
    to {
        -webkit-transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-cycle-2 {
    10% {
        -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    15%,
    70% {
        -webkit-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    75%,
    100% {
        -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-cycle-2 {
    10% {
        -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    15%,
    70% {
        -webkit-transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    75%,
    100% {
        -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-show-3 {
    from {
        -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-show-3 {
    from {
        -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-hide-3 {
    to {
        -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-hide-3 {
    to {
        -webkit-transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-cycle-3 {
    15% {
        -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    20%,
    65% {
        -webkit-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    70%,
    100% {
        -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-cycle-3 {
    15% {
        -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    20%,
    65% {
        -webkit-transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    70%,
    100% {
        -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-show-4 {
    from {
        -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-show-4 {
    from {
        -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-hide-4 {
    to {
        -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-hide-4 {
    to {
        -webkit-transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-cycle-4 {
    20% {
        -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    25%,
    60% {
        -webkit-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    65%,
    100% {
        -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-cycle-4 {
    20% {
        -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    25%,
    60% {
        -webkit-transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    65%,
    100% {
        -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-show-5 {
    from {
        -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-show-5 {
    from {
        -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-hide-5 {
    to {
        -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-hide-5 {
    to {
        -webkit-transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-cycle-5 {
    25% {
        -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    30%,
    55% {
        -webkit-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    60%,
    100% {
        -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-cycle-5 {
    25% {
        -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    30%,
    55% {
        -webkit-transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    60%,
    100% {
        -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-show-6 {
    from {
        -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-show-6 {
    from {
        -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-hide-6 {
    to {
        -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-hide-6 {
    to {
        -webkit-transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-cycle-6 {
    30% {
        -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    35%,
    50% {
        -webkit-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    55%,
    100% {
        -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@keyframes preload-cycle-6 {
    30% {
        -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
    35%,
    50% {
        -webkit-transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
        transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
        border-left-color: #96DBFF;
    }
    55%,
    100% {
        -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
        border-left-color: #77B4D4;
    }
}
@-webkit-keyframes preload-flip {
    0% {
        -webkit-transform: rotateY(0deg) rotateZ(-60deg);
        transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        -webkit-transform: rotateY(360deg) rotateZ(-60deg);
        transform: rotateY(360deg) rotateZ(-60deg);
    }
}
@keyframes preload-flip {
    0% {
        -webkit-transform: rotateY(0deg) rotateZ(-60deg);
        transform: rotateY(0deg) rotateZ(-60deg);
    }
    100% {
        -webkit-transform: rotateY(360deg) rotateZ(-60deg);
        transform: rotateY(360deg) rotateZ(-60deg);
    }
}
body {
    background: #efefef;
}

.preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    display: block;
    width: 3.75em;
    height: 4.25em;
    margin-left: -1.875em;
    margin-top: -2.125em;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: rotateY(180deg) rotateZ(-60deg);
    transform: rotateY(180deg) rotateZ(-60deg);
}
.preloader .slice {
    border-top: 1.125em solid transparent;
    border-right: none;
    border-bottom: 1em solid transparent;
    border-left: 1.875em solid #96DBFF;
    position: absolute;
    top: 0px;
    left: 50%;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    border-radius: 3px 3px 0 0;
}
.preloader .slice:nth-child(1) {
    -webkit-transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
    transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.82s preload-hide-1 both 1;
    animation: 0.15s linear 0.82s preload-hide-1 both 1;
}
.preloader .slice:nth-child(2) {
    -webkit-transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
    transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.74s preload-hide-2 both 1;
    animation: 0.15s linear 0.74s preload-hide-2 both 1;
}
.preloader .slice:nth-child(3) {
    -webkit-transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
    transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.66s preload-hide-3 both 1;
    animation: 0.15s linear 0.66s preload-hide-3 both 1;
}
.preloader .slice:nth-child(4) {
    -webkit-transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
    transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.58s preload-hide-4 both 1;
    animation: 0.15s linear 0.58s preload-hide-4 both 1;
}
.preloader .slice:nth-child(5) {
    -webkit-transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
    transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.5s preload-hide-5 both 1;
    animation: 0.15s linear 0.5s preload-hide-5 both 1;
}
.preloader .slice:nth-child(6) {
    -webkit-transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
    transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
    -webkit-animation: 0.15s linear 0.42s preload-hide-6 both 1;
    animation: 0.15s linear 0.42s preload-hide-6 both 1;
}
.preloader.loading {
    -webkit-animation: 2s preload-flip steps(2) infinite both;
    animation: 2s preload-flip steps(2) infinite both;
}
.preloader.loading .slice:nth-child(1) {
    -webkit-transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-1 linear infinite both;
    animation: 2s preload-cycle-1 linear infinite both;
}
.preloader.loading .slice:nth-child(2) {
    -webkit-transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-2 linear infinite both;
    animation: 2s preload-cycle-2 linear infinite both;
}
.preloader.loading .slice:nth-child(3) {
    -webkit-transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-3 linear infinite both;
    animation: 2s preload-cycle-3 linear infinite both;
}
.preloader.loading .slice:nth-child(4) {
    -webkit-transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-4 linear infinite both;
    animation: 2s preload-cycle-4 linear infinite both;
}
.preloader.loading .slice:nth-child(5) {
    -webkit-transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-5 linear infinite both;
    animation: 2s preload-cycle-5 linear infinite both;
}
.preloader.loading .slice:nth-child(6) {
    -webkit-transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
    -webkit-animation: 2s preload-cycle-6 linear infinite both;
    animation: 2s preload-cycle-6 linear infinite both;
}



@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
/*.animated-preload-block{
    vertical-align: middle;
    display: table-cell;
}*/
body, html {
    height: 100%;
}

body, html {
}

.main {
    height: 100%;
}

body {
    line-height: 1;
    background: #fff;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;

}

a, a:hover, a:visited {
    text-decoration: none;
}

aside {
    /*height: 100%;*/
}

@media (min-width: 1800px) {
    .container {
        width: 1400px;
    }
}

@media (min-width: 1360px) and (max-width: 1800px) {
    .container {
        width: 1000px;
    }
}
@media (min-width: 1200px) and (max-width: 1360px) {
    .container {
        width: 900px;
    }
}
ul {
    list-style: none;
}

ins {
    background-color: #fff;

}

p {
    line-height: 1.3;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 600;
}

a img:hover {
    opacity: 0.8;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

/*-------------------------------------------- HEADER ----------------------------------------*/
@media (min-width: 768px){
    .navbar-right .dropdown-menu{
        left: -60px;
        overflow: hidden;
        background: #fff;
    }
    .dropdown-menu{
        width: 800px;
    }
    .menu-item-has-children li{
        width: 20%;
        float: left;
    }
}
.search-form input{
    border: 1px solid #ccc;
    padding: 2px;
    height: 22px;
}
.search-form button{
    padding: 2px 10px;
    vertical-align: bottom;
    height: 22px;
}
.main header {
    overflow: hidden;
}

.site-header {
    min-height: 600px!important;
    height: 80%;
    background-image: url("../images/head-bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;

}

.site-header .navbar {
    background: none;
    border: none;
    box-shadow: none;
}

.main_text h1 {
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    width: 992px;
    margin: 0 auto;
}

.main_text {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    height: 250px;
    z-index: 3;
}

@media (max-width: 992px) {
    .main_text {
        height: 100px;
    }

    .main_text h1 {
        font-size: 24px;
        width: 100%;
    }
}

.main_slide {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.main_slide a {
    color: #fff;
    clear: both;
    font-size: 18px;
    padding: 10px 60px;
    border: #fff 3px solid;
    font-weight: 600;
    display: inline-block;
    border-radius: 14px;
    transition: 0.5s;

}

.main_slide a:hover {
    background: #fff;
    color: #565656;
}

.count-of-pages{
    position: relative;
    z-index: 999;
    color: #fff;
    margin: 15px 0;
}

.count-of-pages li{
    display: inline-block;
    padding-right: 30px;
    font-size: 20px;
}

.count-of-pages p{
    display: inline-block;
    font-weight: bold;
}

.count-of-pages span{
    font-size: 30px;
    padding-left: 10px;
}

.main_slide img {
    display: block;
    margin: 13px auto;
}

@media (max-width: 992px) {
    .main_slide a {
        font-size: 24px;
        padding: 20px 30px;
    }

    .main_text {
        height: 100px;
    }
}

.navbar-toggle .icon-bar {
    background-color: #5A5A5A;
}

/*------------------------------- Header Menu ----------------------------------*/
.search-block-form{
    float: right;
    margin-right: 15px;
}
.change-lang, .social-header {
    display: inline-block;
    height: 22px;
    float: right;
}

.change-lang {
    padding: 4px 36px 0 5px;
    vertical-align: middle;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    background: url(../images/arrow-change-lang-2.png) right 15px top 8px no-repeat;
}

.main .change-lang a {
    color: #fff;
}

.main .change-lang {
    background: url(../images/arrow-change-lang.png) right 15px top 8px no-repeat;
}

.social-header li {
    display: inline-block;
}

.social-header li a {
    display: inline-block;
    width: 22px;
    height: 22px;
    overflow: hidden;
}

.change-lang {
    padding: 4px 36px 0 5px;
    vertical-align: middle;
    font-size: 14px;
    position: relative;
}

.change-lang a {
    font-weight: bold;

}

.navbar-black .change-lang a {
    color: #565656;

}

.change-lang .dropdown-lang {
    position: absolute;
    top: 25px;
    background: #565656;
    min-width: 100px;
    left: 0px;
    z-index: 9999;
}

.change-lang .dropdown-lang li {
}

.change-lang .dropdown-lang li a {
    color: #fff;
    display: block;
    padding: 6px 8px 6px 8px;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.change-lang .dropdown-lang li a.active, .dropdown-lang li a:hover {
    background: #787373;
}

.change-lang a {
    text-transform: uppercase;
    text-decoration: none;
}

.app_nav {
    height: 22px;
    display: inline-block;
    color: #fff;
    float: right;
}

.app_nav p {
    height: 22px;
    font-weight: bold;
    padding: 2px 20px;
    margin: 0 15px;
    background: #fff;
    color: #565656;
}

.navbar-black .app_nav p {
    background: #565656;
    color: #fff;
}

.app_nav p:hover {
    opacity: 0.7;
}


.login-button-header {
    height: 22px;
    display: inline-block;
    color: #fff;
    float: right;
    overflow: hidden;
}

.login-button-header a {
    height: 22px;
    font-weight: bold;
    padding: 2px 20px;
    margin: 0 15px;
    background: #fff;
    color: #565656;
    line-height: 0.5;
    vertical-align: bottom;
}

.navbar-black .login-button-header a {
    background: #565656;
    color: #fff;
}

.login-button-header a:hover {
    opacity: 0.7;
}




.navbar-static-top {
    padding: 20px 30px 0 0;
}

.navbar-nav {
    clear: right;
}

.navbar-nav li:nth-child(3) ul, .navbar-nav li:nth-child(2) ul{
    width: auto;
    left: 0;
    min-width: 250px;
}

.navbar-nav li:nth-child(3) ul li, .navbar-nav li:nth-child(2) ul li{
    width: 100%;
    float: none;
}


.navbar ul li a, .navbar-nav > li > a {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: none;
    color: #eee;
}

.dropdown-menu {
    background: transparent;
    box-shadow: none;
    max-height: 512px;
    padding: 0;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background-color: #dadada;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5);
    background-color: rgba(205, 205, 205, 0.5);
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent;
}

.navbar-black .navbar-brand img {
    width: 55px;
}

.navbar-black .navbar-brand {
    padding: 0;
}

.navbar-black .social-header a img {
    position: relative;
    top: -22px;
}

.navbar-black .navbar ul li a, .navbar-black .navbar-nav > li > a {
    color: #565656;

}

.dropdown-menu > li > a {
    color: #565656 !important;
    background: #fff;
}

@media (max-width: 992px) {
    .navbar-brand {
        padding: 0px 15px;
    }

    .navbar-brand > img {
        width: 40px;
    }

    .navbar-static-top {
        padding: 10px 10px 0 0;
    }

    .navbar-right {
        margin-right: 0px;
    }

}

.navbar-collapse.in {
    width: 250px;
    height: 100%;
    position: fixed;
    background: #565656;
    right: 0px;
    top: 0;
    bottom: 0;
    z-index: 5000;
    transition: none;
}

.navbar-black .navbar-collapse.in {
    background: #fff;

}

@media (min-width: 769px) {
    .only_mobile {
        display: none;
    }

}

@media (max-width: 768px) {
    .button_weather {
        display: none;
    }
    .only_desktop {
        display: none;
    }

    .only_mobile .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-black .only_mobile .navbar-toggle .icon-bar {
        background-color: #565656;
    }

    .change-lang {
        margin: 20px auto;
    }

    .only_mobile .navbar-toggle {
        margin-top: 15px;
        margin-right: 0px;
        margin-bottom: 0px;
    }
}

.collapsing {
    display: none;
    width: 250px;
    height: 100%;
    position: fixed;
    background: #565656;
    right: 0px;
    top: 0;
    bottom: 0;
    z-index: 5000;
    transition: none;
}

/* -------------------------------------------Main Page ----------------------------------------*/
.site-content{
    overflow: hidden;
}
.bacground-home{
    background-color: #f5f7f8;
    padding: 50px 0;
    margin: 50px 0;
}
.title{
    text-align: center;
    margin: 50px 0 30px;
}
.title h3{
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    font-size: 35px;
}
.title h3 span{
    display: block;
    font-weight: 700;
    background-color: #90D8F8;
    padding: 5px 10px;
    color: #fff;
    transform: translateX(-150%);
    transition: 0.5s;
}
.in-view span{
    transform: translateX(0)!important;
}
.main-page-cams{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    max-height: 255px;
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 2px 3px 2px rgba(46, 46, 46, 0.7);
}
.main-page-cams:hover{
    box-shadow: 2px 5px 15px rgba(46, 46, 46,1);
}
.new-camera-img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}
.main-page-cams .play_button{
    padding: 70px 10px;
}
.main-page-cams .play_button h3{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    min-height: 50px;
}
.cams-blocks .col-md-4{
    padding:0 5px;
}
.main_category{
    overflow: hidden;
    padding: 0 16px;
}
.main_category h2 {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 40px;
    text-transform: uppercase;
}

.main_map {
    width: 100%;
    height: 600px;
    display: block;
    margin-bottom: 20px;
}
.open-weather-block{
    text-align: right;
}
.open-weather{
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    background: #91d8f8;
    padding: 9px 30px 10px 30px;
    border: none;
    transition: 0.5s;
}
.open-weather:hover{
    background: #565656;
}
@media (max-width: 992px) {
    .main_map {
        height: 300px;
    }
}

.main_business {
    display: block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    clear: both;
}

.main_business img {
    width: 100%;
}

.main_business .message {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    margin: auto;
}

.main_business h4 {
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 48px;
    margin: 0;
}

.main_business p {
    opacity: 0;
    display: block;
    text-align: center;
    width: 165px;
    text-transform: uppercase;
    margin: 0 auto;
    text-decoration: none;
    color: #565656;
    font: 13px 'ubuntubold', Arial;
    background: #fff;
    padding: 10px 0;
    transition: 0.5s;
}

.main_business:hover p {
    opacity: 1;
    margin-top: 35px;
}

.main_solutions {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #414141;

}

.main_solutions h4 {
    color: #84716b;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 48px;
}

.main_solution_imgblock {
    height: 124px;
    text-align: center;

}

.main_solutions p {
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 35px 10px 0px;
    height: 240px;
}

.main_solutions a {
    display: block;
    text-align: center;
    width: 280px;
    text-transform: uppercase;
    margin: 0 auto;
    text-decoration: none;
    color: #676767;
    font-size: 20px;
    font-weight: 600;
    background: #91dbfb;
    padding: 22px 0;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    transition: 0.5s;
}
.main_solutions a:hover{
    background: #dbf4ff;
}

@media (min-width: 1200px) and (max-width: 1800px) {
    .main-page-cams{
        max-height: 185px;
    }
    .main-page-cams .play_button h3{
        font-size: 16px;
    }
    .main-page-cams .play_button {
        padding: 45px 10px 25px;
    }
    .main_solutions a {
        width: 160px;
        padding: 16px 0;
        font-size: 16px;
    }

    .main_solutions p {
        font-size: 16px;
        height: 200px;
    }

    .main_solutions h4 {
        font-size: 22px;
        height: 30px;
        margin-top: 14px;
    }

    .main_solutions .col-md-3 {
        padding: 0 2px;
    }

    .blog-img-block {
        width: 200px;
        height: 190px;
    }

    .blog-img-block h3 {
        font-size: 17px;
    }
}

@media (max-width: 992px) {
    .main-page-cams .play_button {
        padding: 45px 10px 25px;
    }
    .main-page-cams .play_button h3{
        font-size: 16px;
    }
    .cams-blocks .col-md-4{
        width: 50%;
        float: left;
    }
    .main_business {
        display: none;
    }

    .main_solutions {
        margin-top: 0px;
    }

    .main_solutions .col-md-3 {
        margin-top: 15px;
    }

    .main_solutions h4 {
        margin-top: 1.5rem;
    }

    .main_solutions p {
        padding: 0;
        height: auto;
    }

    .main_solutions a {
        margin-top: 20px;
    }
}

.blog-block {
    position: relative;
    overflow: hidden;
    padding: 0 5px;
}

.blog-blocks {
    overflow: hidden;
    text-align: center;
}

.blog-img-block {
    width: 322px;
    height: 253px;
    margin-right: 30px;
    display: inline-flex;
    position: relative;
}

.blog-img-block:hover h3{
    background: rgb(132, 113, 107);;
}

.blog-img-block img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.blog-img-block h3 {
    position: absolute;
    left: 0;
    bottom: 20px;
    background: rgba(145, 216, 248, 0.7);
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    padding: 5px 20px;
    transition: 0.5s;
}

@media (min-width: 1200px) and (max-width: 1800px) {
    .blog-img-block {
        width: 200px;
        height: 190px;
    }

    .blog-img-block h3 {
        font-size: 16px;
    }
}

.main_partners {
    padding: 25px 30px;
}
.main_partners ul{
    display: none;
}
.main_partners ul li {
    display: inline-block;
    margin: 0 33px 15px 0;
}

@media (min-width: 1200px) and (max-width: 1800px) {
    .main_partners ul li {
        margin: 0 46px 15px 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .main_partners ul li {
        margin: 0 60px 15px 0;
    }
}

@media (max-width: 992px) {
    .main_partners > ul {
        display: none;
    }

}

@media (min-width: 993px) {

}

.main_partners > ul img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.slider-clients .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: -22px;
    display: block;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url(../images/slider-scroll.png) left top no-repeat;
    width: 14px;
    height: 11px;
    z-index: 999;
}

.slider-clients .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    right: -22px;
    display: block;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: url(../images/slider-scroll.png) right top no-repeat;
    width: 14px;
    height: 11px;
    z-index: 999;
}

.slick-slide img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.main_partners img:hover {
    filter: none;
    -webkit-filter: none;
}

/* --------------------------- Camera Page  ---------------------------------------*/

.camera-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.camera-img-style{
    width: 100%;
}
.info-camera {
    position: relative;
}

.name-camera {
    text-align: center;
    padding: 20px 0px;
}

div#live {
    background-color: #fff !important;
}

.name-camera h1 {
    font-size: 27px;
    font-weight: 800;
    text-transform: uppercase;
    color: #565656;
    padding: 10px 0 10px 0;
    line-height: 24px;
    margin: 0 auto;
}
.description-cameras ins{
    text-align: center;
}
@media (min-width: 1240px) and (max-width: 1800px) {
    .name-camera h1 {
        width: 500px;
    }
}

@media (min-width: 768px) and (max-width: 1239px) {
    .name-camera h1 {
        width: 400px;
    }
}

.name-camera span {
    display: block;
    font-size: 16px;
    color: #565656;
}

.info-camera #weather {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

@media (max-width: 768px) {
    .info-camera #weather {
        position: relative;
        text-align: center;
    }
}

.weather-camera img {
    width: 92px;
}

.weather-camera .weather-data {
    display: inline-block;
}

.weather-camera b {
    font-size: 27px;
    font-weight: 800;
    display: block;
    color: #565656;
}

@media (max-width: 768px) {
    .info-camera #weather {
        position: relative;
        text-align: center;
    }

    .weather-camera img {
        width: 60px;
    }

}

.description-cameras p {
    font-size: 16px;
    color: #565656;
    padding-bottom: 21px;
    line-height: 1.3;
}
.description-cameras li{
    font-size: 16px;
    color: #565656;
    line-height: 1.3;
}
.description-cameras {
    padding: 10px 30px;
}

.button_weather {
    margin: 0 auto;
    text-align: center;
}
/*WEATHER NEW STYLE START*/
.gradient-weather{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.3)100%);
    background: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.3)100%);
    background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.3)100%);
    background: -o-linear-gradient(0deg, rgba(255, 255, 255, 0)50%, rgba(255, 255, 255, 0.3)100%);
    position: absolute;
    width: 39%;
    height: 170%;
    left: -97px;
    top: -129px;
    -moz-transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
    -o-transform: rotate(42deg);
    transform: rotate(42deg);
}
.weather_block_page .col-md-6:last-child{
    padding-left: 0;
}
.weather-blue{
    background: #8dd7f4;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.6);
    margin: 10px 6px;
    border-radius: 7px;
    overflow: hidden;
    height: 180px;
    position: relative;
}
.weather_day_new, .weather_other_new{
    padding: 15px;
    color: #86736b;
}
.weather_day_new h4{
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.weather_day_new p{
    margin: 0;
}
.weather_day_new .text-row{
    text-align: left;
}
.weather_day_new .text-row p{
    display: inline-block;
}
.therm{
    max-width: 20px;
}
.current-day-right-column img{
    max-width: 100%;
    position: absolute;
    left: -24px;
    top: 0;
    width: 50px;
}
.current-day-right-column h5{
    font-size: 50px;
}
.weather-column{
    max-width: 100%;
}
.col-day-other h5{
    margin: 0 0 15px;
    font-size: 16px;
}
.col-day-other p{
    margin: 15px 0 0;
    font-size: 16px;
}
/*WEATGER NEW STYLE END*/


.fp-logo {
    width: 50px;
}

.col-md-25 {
    width: 20%;
    float: left;
}

@media (max-width: 610px) {
    .main-page-cams{
        max-height: 120px;
    }
    .play_button img{
        width: 35px;
    }
    .main-page-cams .play_button {
        padding: 20px 10px 0px;
    }
    .main-page-cams .play_button h3 {
        font-size: 12px;
    }
}

.section-choose-cameras > span {
    font-size: 13px;
    text-transform: uppercase;
    color: #9a9a9a;
}



.section-choose-cameras .selected-country-cameras {
    font-size: 24px;
    font-weight: 800;
    color: #565656;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    padding-bottom: 16px;
}

.arrow-selected-cameras {
    position: absolute;
    right: 0;
    top: 12px;
    background: url(../images/arrow-selected-country.png) left top no-repeat;
    width: 8px;
    height: 5px;
    background-position: 0 100%;
}

.section-choose-cameras.active .arrow-selected-cameras {
    background-position: 0 0;
}

.section-block-cameras {
    max-height: 223px;
    padding: 10px 0;
    overflow-y: auto;
    display: none;
    z-index: 4;
}

.section-after-camera {
    overflow: hidden;
    text-align: center;
    margin: 20px auto;
}

.btn-back-cameras {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    background: #91d8f8;
    clear: both;
    padding: 9px 30px 10px 30px;
}
.btn-back-cameras:hover{
    background: #565656;
    color:#fff;
}
.section-camera a.embed-section-camera {
    background: url(../images/icon-embed.png) left top no-repeat;
    padding-top: 2px;
    margin: 10px auto;
}

.section-camera > a {
    display: inline-block;
    font-size: 14px;
    color: #565656;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 12px 30px;
}

.embed-code {
    position: absolute;
    z-index: 5;
}

.section-block-cameras {
    max-height: 223px;
    padding: 10px 0;
    overflow-y: auto;
    display: none;
    position: absolute;
    background: #fff;
    bottom: -100px;
}

.section-block-cameras a {
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 0 0 15px 10px;
    text-align: center;
}

.section-block-cameras::-webkit-scrollbar {
    width: 4px;
    background: #d3d8dd;
}

.section-block-cameras::-webkit-scrollbar-thumb {
    background: #565656;
}
.share-vert-buttons{
    text-align: center;
    margin: 20px 0;
}
.share-vert-buttons .facebook {
    background-color: #3b5999;
}

.share-vert-buttons .vk {
    background: #507299;
}

.share-vert-buttons .twitter {
    background-color: #55acef;
}

.share-vert-buttons .pinterest {
    background-color: #cb2028;
}

.share-vert-buttons .google_plus {
    background-color: #d34836
}

.share-vert-buttons .facebook:hover {
    background-color: #2e4983;
}

.share-vert-buttons .vk:hover {
    background: #3E7999;
}

.share-vert-buttons .twitter:hover {
    background-color: #2daae2;
}

.share-vert-buttons .pinterest:hover {
    background-color: #a61b20;
}

.share-vert-buttons .google_plus:hover {
    background-color: #D32B26
}

.share-vert-block {
    display: block;
    height: 3.8125rem;
    width: 5.0625rem;
    text-decoration: none;
    text-align: center;
}

.share-vert-block i {
    font-size: 22px;
    color: #fff;
    line-height: 3.8125rem;
}

.share-vert-buttons a {
    text-decoration: none;
    display: inline-block;
}

/*-------------------------- CAMERA LIST ----------------------------------------*/

.camera-block {
    position: relative;
}

.camera-list {
    overflow: hidden;

}

.camera-item-block .cont {
    width: 100%;
    padding-bottom: 56.25%;
}

.camera-item-block .cont > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.camera-action-block {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.20);
}

.camera-item-block img {
    max-width: 100%;
    height: auto;
}

.camera-block h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #565656;
    text-align: center;
    padding: 8px 0;
    font-weight: bold;
    /*    background: url(../images/line.jpg) left center repeat-x;*/
}

.camera-block-background {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    height: 50px;
}

.camera-block-background h6 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 8px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
}

@media (max-width: 992px) {
    .camera-item-block .cont > div > img {
        width: 100%;
    }
}

.camera-screenshot {
    font-size: 35px !important;
    color: #fff;
}

.camera-screenshot:hover {
    opacity: 0.5;
}

.spin-screenshot {
    font-size: 35px !important;
    color: #fff;
}

.snapshot {
    /* background: url('https://dev.balticlivecam.com/images/camera-flow.png') no-repeat center; */
    /* background-color: rgba(0,0,0,0.65); */
    border-radius: 100%;
    position: absolute;
    top: -9px;
    padding: 2px;
    left: 0;
    right: 0;
    margin: auto !important;
    text-align: center;
    cursor: pointer;
    height: 68px;
    width: 100px;
}

.flowplayer.is-mouseout .snapshot {
    display: none;
}

.flowplayer.is-mouseover .snapshot {
    display: block;
}

/* ------------------------------- About --------------------------------*/
.installing > div {
    overflow: hidden;
}

.installing > div {
    float: left;
    width: 50%;
    overflow: overlay;
    box-sizing: border-box;
    display: inline;
    height: 420px;

}

.installing h3 {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    font-weight: 800;
}

.installing p {
    font-size: 15px;
    color: #565656;
    line-height: 20px;
}

.installing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block-content-installing {
    padding: 20px 60px;
    background: #eff2f6;
}

.contact-form {
    background: #e2e6ea;
    padding: 10px 62px 10px 85px;
    overflow: hidden;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contact-form > h6 {
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: #565656;
    padding-bottom: 65px;
}

.agent-info {
    float: left;
}

.img-agent-info {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 55px;
}

.img-agent-info img {
    max-width: 100%;
    height: 100%;
}

.info-agent-info {
    float: left;
    color: #565656;
    padding-top: 63px;
}

.info-agent-info b {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 800;
    line-height: 30px;
}

.info-agent-info b span {
    display: block;
}

.contact-form form label {
    display: block;
    padding-bottom: 24px;
    position: relative;
}


.contact-form form label label {
    color: #565656;
    font-size: 24px;
    font-weight: normal;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1;
    pointer-events: none;
    padding-bottom: 0;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.wpcf7-form-control-wrap {
    position: relative;
}

.contact-form form label input, .contact-form form label textarea {
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #565656;
    padding: 15px 15px 10px 15px;
    font-size: 24px;
    color: #565656;
    position: relative;
    z-index: 2;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    height: 55px;
}

.contact-form form > input:hover {
    background: #91d8f8;
}

.contact-form form > input {
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    text-align: center;
    display: block;
    width: 340px;
    height: 45px;
    margin: 10px auto;
    background: #565656;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .contact-form form label label {
        font-size: 18px;
    }

    .contact-form form label input, .contact-form form label textarea {
        font-size: 18px;
        height: 40px;
    }

    .contact-form form > input {
        width: 100%;
    }

    .contact-form {
        padding: 40px 30px 15px;

    }
}

.toping {
    top: -20px !important;
}

.content-business .installing .block-image-installing:nth-child(4n+3), .content-business .installing .block-content-installing:nth-child(4n+3) {
    float: right;
}

.block-content-installing b {
    font-size: 36px;
    font-weight: 800;
    color: #565656;
    text-transform: uppercase;
    display: block;
    padding-bottom: 10px;
}

.installing .btn-blog {
    letter-spacing: 2px;
    min-width: 175px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: 40px;
}

.btn-blog {
    display: inline-block;
    text-decoration: none;
    background: #91d8f8;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 800;
    color: #fff;
    padding: 9px 21px 10px 21px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-blog:hover{
    background: #565656;
    color:#fff;
}

.bis-page h1 {
    text-align: center;
}

.bis-page p {
    font-size: 17px;
}

.bis-page img {
    width: 100%;
    height: auto;
}

.possibilities {
    overflow: hidden;
}

@media (max-width: 992px) {
    .installing > div {
        width: 100%;
        height: auto;
    }

    .installing h3 {
        font-size: 18px;
    }

    .block-content-installing b {
        font-size: 24px;
    }
}

/* ----------------------------     FOOTER ----------------------------------------*/

footer {
    background: #91d8f8;
    margin-top: 20px;
}

footer .container {

    padding: 20px;
    overflow: hidden;
    clear: both;
}

footer .logo {
    float: left;
    margin-right: 76px;
}

footer ul.menu-footer {
    float: left;
    padding-top: 12px;
}

footer ul li {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    line-height: 23px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    opacity: 0.8;
}

aside.left {
    float: left;
    text-align: center;
}

aside img {
    margin: 10px auto;
}

aside.right {
    float: right;
    text-align: center;
    right: 0px;
}
.right-ads .left-ads{
    min-height: 1px;
}
.right-ads > div {
    margin: 0 auto;
}

aside {
    width: 200px;
}


@media (min-width: 1800px) {
    aside {
        width: 200px;
    }
}
@media (min-width: 1950px) {
    aside {
        width: 300px;
    }
}
@media (min-width: 1240px) and (max-width: 1800px) {
    aside {
        width: 170px;
    }
}

@media (max-width: 1239px) {
    aside {
        display: none;
    }
}

footer .copyright {
    font-size: 12px;
    color: #fff;
    padding-top: 38px;
    text-transform: uppercase;
}

footer .social-footer ul li {
    display: inline-block;
}

footer .social-footer {
    padding: 28px 0 0 30px;
}

.social-footer, .copyright {
    float: right;
    margin: 0;
}

.prevideo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    border-radius: 8px;
    width: 100%;
}

/* ------------------------------------------- Blog ------------------------------ */
figure.snip1477 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding-bottom: 72%;
    background-size: cover!important;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}
figure.snip1477 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.9;
}
figure.snip1477 .title-blog {
    position: absolute;
    bottom: 10%;
    left: 25px;
    padding: 5px 10px 10px;
    z-index: 9;
}
figure.snip1477 .title-blog:before,
figure.snip1477 .title-blog:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}
figure.snip1477 .title-blog:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(110%);
    transform: translateX(110%);
}
figure.snip1477 .title-blog:after {
    bottom: 0;
    right: 10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
figure.snip1477 .title-blog div:before,
figure.snip1477 .title-blog div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}
figure.snip1477 .title-blog div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
figure.snip1477 .title-blog div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
    margin: 0;
    text-transform: uppercase;
}
figure.snip1477 h2 {
    font-weight: 400;
}
figure.snip1477 h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}
figure.snip1477 figcaption {
    position: absolute;
    bottom: 50%;
    left: 25px;
    text-align: left;
    opacity: 0;
    padding: 5px 60px 5px 10px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1.5px;
    z-index: 9;
}
figure.snip1477 figcaption p {
    margin: 0;
}
figure.snip1477 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

figure.snip1477:after{
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: rgba(0,0,0,0);
    pointer-events: none;
    transition: 0.5s;
}
figure.snip1477:hover:after{
    background: rgba(0,0,0,0.3);
}

figure.snip1477:hover .title-blog:before,
figure.snip1477.hover .title-blog:before,
figure.snip1477:hover .title-blog:after,
figure.snip1477.hover .title-blog:after,
figure.snip1477:hover .title-blog div:before,
figure.snip1477.hover .title-blog div:before,
figure.snip1477:hover .title-blog div:after,
figure.snip1477.hover .title-blog div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
figure.snip1477:hover .title-blog:before,
figure.snip1477.hover .title-blog:before,
figure.snip1477:hover .title-blog:after,
figure.snip1477.hover .title-blog:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.in-view-blog:after{
    background: rgba(0,0,0,0.3)!important;
}
.in-view-blog .title-blog:before,
.in-view-blog .title-blog:before,
.in-view-blog .title-blog:after,
.in-view-blog .title-blog:after,
.in-view-blog .title-blog div:before,
.in-view-blog .title-blog div:before,
.in-view-blog .title-blog div:after,
.in-view-blog .title-blog div:after {
    -webkit-transform: translate(0, 0)!important;
    transform: translate(0, 0)!important;
}
.in-view-blog .title-blog:before,
.in-view-blog .title-blog:before,
.in-view-blog .title-blog:after,
.in-view-blog .title-blog:after {
    -webkit-transition-delay: 0.15s!important;
    transition-delay: 0.15s!important;
}
.in-view-blog figcaption,
.in-view-blog figcaption {
    opacity: 1!important;
    -webkit-transition-delay: 0.2s!important;
    transition-delay: 0.2s!important;
}
















.big-first h3 {
    font-size: 24px;
    padding: 5px 20px;
}

.blog-2 {
    overflow: hidden;
    position: relative;
}

.blog-2 img {
    transition: 1s !important;
}

.big-blog img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.small-blog {
    margin-top: 30px;
    height: 222px;
}

.small-blog img {
    width: 100%;
    height: 222px;
    object-fit: cover;
}

.more_posts {
    display: block;
    text-align: center;
    width: 200px;
    text-transform: uppercase;
    margin: 20px auto;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: #91dbfb;
    padding: 16px 0;
    border-radius: 7px;
    cursor: pointer;
}
.more_posts:hover{
    background: #565656;
}

.blog-2 h3 {
    position: absolute;
    left: 0px;
    bottom: 20px;
    background: rgba(145, 216, 248, 0.7);
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    width: 100%;
}

.widget_blog {
    overflow: hidden;
}

.widget_blog li {
    position: relative;
}

.widget_blog img {
    width: 100%;
    height: 250px;
    margin-top: 5px;
    object-fit: cover;
}

.href_blog {
    position: absolute;
    left: 0px;
    bottom: 20px;
    background: rgba(145, 216, 248, 0.7);
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px 20px;
}

/* -------------------- Map Styles ----------------------*/

.marker-info h3 {
    text-align: center;
    font-size: 20px;
}

.tempa {
    display: table;
    padding: 5px 10px;
}

.temp_w {
    display: table-cell;
    vertical-align: middle;
}

.marker-info {
    min-width: 100px;
    overflow: hidden;
}

.marker-info a {
    background: #8ed8fb;
    color: #fff;
    padding: 5px 10px;
    display: block;
    text-align: center;
}

.tempa img {
    width: 45px;
    display: table-cell;
}

.map_list_size {
    margin-top: 10px;
    width: 100%;
    height: 440px;
    display: block;
}

/* -------------------- App Page --------------------------*/
.c_p {
    line-height: 1.3;
    font-size: 18px;
}

/*------------------ solution page ----------------*/

.possibilities-block {
    overflow: hidden;
}

.possibilities-blocks .cont {
    width: 100%;
    padding-bottom: 60.25%;
}

.possibilities-block .cont > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.black-possibilities-block {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.20);
}

.possibilities-block img {
    max-width: 100%;
}

.inner-black-possibilities {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    height: 100px;
    color: #fff;
}

.possibilities-block > img {
    max-height: 100%;
}

.inner-black-possibilities p {
    width: 280px;
    margin: 0 auto;
    clear: both;
    font: 24px "Open Sans", Arial;
    font-weight: 600;
    line-height: 31px;
    margin-bottom: -79px;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.inner-black-possibilities a {
    text-decoration: none;
    color: #565656;
    font-size: 13px;
    font-weight: 600;
    background: #fff;
    display: inline-block;
    padding: 9px 50px 10px 50px;
    margin-top: 35px;
    opacity: 0;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.black-possibilities-block:hover {
    background: rgba(0, 0, 0, 0.20);
}

.black-possibilities-block:hover p {
    margin-bottom: 0;
}

.black-possibilities-block:hover a {
    opacity: 1;
}

/*------------------------------Contacts -----------------------------*/

.block-info-contacts {
    float: left;
    width: 50%;
}

.content-contacts .contact-form {
    padding-top: 40px;
}
/***********************************************************REPORT A MISTAKE*/
.mistake-text{
    display: none;
    text-align: center;
}
.mistake-text textarea{
    border: 2px solid #91d8f8;
    border-radius: 6px;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
}
.mistake-text .email{
    border: 2px solid #91d8f8;
    border-radius: 6px;
    padding: 15px;
    margin: 30px 0 0;
}
.find-mistake .btn-back-cameras{
    background: rgb(214, 40, 39);
}

.mistake-text button{
    border: none;
    margin: 5px auto;
    display: block;
    background: rgb(214, 40, 39);
}
.mistake-text button:last-child{
    background: #91d8f8;
}
.mistake-text button:last-child:hover{
    background: #84716b;
}
.find-mistake{
    text-align: center;
}
.find-mistake h4{
    cursor: pointer;
}
/***********************************************************ERROR PAGE*/
.error-page h1{
    font-size: 55px;
    color: #84716b;
    text-transform: uppercase;
}
.error-page h1 span{
    width: 60px;
    height: 60px;
    border: 3px solid;
    border-radius: 100%;
    display: inline-block;
}
.error-page{
    text-align: center;
}
.error-page p{
    font-size: 18px;
    padding: 50px 0;
    max-width: 600px;
    margin: 0 auto;
}
.error-page a{
    display: inline-block;
    color: #84716b;
    background: #91d8f8;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 6px;
}
.text-content-block-blog p{
    line-height: 1.4;
    font-size: 18px;
}
.text-content-block-blog li{
    font-size: 18px;
    padding: 20px;
}
/****************************************************************ADS BLOCK*/
.ad_block_off{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
.middle_center_block{
    position: relative;
    max-width: 390px;
    margin: 0 auto;
    height: 100%;
    display: flex;
}
.ad-block-inside{
    background: #fff;
    margin: auto;
    border-radius: 7px;
    padding: 20px 10px;
    position: relative;
    align-self: center;
    border: 1px solid #ccc;
}
.image-ad-block{
    text-align: center;
    font-size: 100px;
    color: #c01b1b;
    position: relative;
    display: block;
}
.ad-block-inside img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
}
.image-ad-block i{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.text-ad-block p{
    font-size: 15px;
}
.text-ad-block h3{
    font-size: 18px;
}
.mob-app{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 70px;
    display: none;
}
.mob-app img{
    display: block;
    height: 100%;
    padding: 15px;
    float: left;
}
.mob-app i{
    float: right;
    font-size: 21px;
    cursor: pointer;
    position: relative;
    z-index: 9999;
    top: -46px;
    right: 140px;
}
#app-img{
    height: 100%;
}

.fp-ad-container video{
    left: 0;
}

.image-container + div{
    margin: 0 auto;
}

.fp-topleft{
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 999;
    transform: translate3d(-200%,0,0);
    animation: jump_cam 2s forwards;
    animation-delay: 7s;
}
.fp-topleft img{
    max-width: 100px;
    animation: jump 1s alternate;
    animation-delay: 12s;
}
@keyframes jump_cam {
    from {
        transform: translate3d(-200%,0,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0%,0,0);
    }
}
@keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    30%  {transform: translate3d(0,-15%,0) scale3d(.7,1.5,1);}
    60% {transform: translate3d(0,-50%,0) scale3d(1.5,.7,1);}
    90% {transform: translate3d(0,-15%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(0,0,0) scale3d(1,1,1);}
}

.cam-head-img{
    padding: 20px;
    left: 0;
    top: 0;
}
.centered-search-block{
    text-align: center;
    margin-top: 50px;
}
#search_input{
    border: 2px solid #565656;
    padding: 3px 15px;
    line-height: 1.8;
    width: 91%;
    font-size: 18px;
    outline: none;
    height: 50px;
}
#find_cameras_button{
    outline: none;
    border: none;
    font-size: 26px;
    color: #fff;
    text-align: center;
    background: #565656;
    cursor: pointer;
    position: relative;
    left: -6px;
    padding: 3px 41px;
    vertical-align: bottom;
    height: 50px;
}
#find_cameras_button:hover{
    background: #91d8f8;
}
.nothing-found{
    text-align: center;
    margin: 50px 0 30px;
}
/*REGISTER BLOCK*/
.hidden-error-block i{
    font-size: 44px!important;
}
#pswd_info {
    display:none;
}
.register-block .invalid, .restore-block .invalid {
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.register-block .valid, .restore-block .valid {
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}
.hidden-error-block{
    text-align: center;
    padding: 10px 0;
}
.abcRioButton{
    opacity: 0;
    width: auto;
    position: absolute;
    top: 0;
}
#input-block-login, #input-block-restore{
    display: none;
}
.big-black-block{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 99998;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0, 0.5);
    display: none;
}
.register-block{
    max-width: 350px;
    overflow: hidden;
    min-height: 450px;
    margin: 0 auto;
    background: #eaeaea;
    padding: 15px 40px;
    border-radius: 10px;
    position: relative;
    left: 0;
    right: 0;
    top: 20%;
    font-family: 'Open Sans', sans-serif;
}
.register-block p:hover{
    color: #90D8F8;
    cursor: pointer;
}
.register-block .row{
    padding-bottom: 15px;
}
.register-block .col-md-4{
    text-align: left;
}
.input-block input{
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
}
.input-block button{
    width:100%;
    border:none;
    background: #90D8F8;
    color:#fff;
    padding: 12px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: 0.5s;
}
.input-block button:hover{
    background: #fff;
    color: #90D8F8;
}
.login-with{
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
}
.login-with h4{
    padding: 20px 0;
    text-transform: uppercase;
}
.login-with i{
    font-size: 40px;
    cursor: pointer;
}
.login-with .fa-reg{
    color: #3B5998;
}
.login-with .twit-reg{
    color: #1DA1F2;
}
.login-with .google-reg{
    color: #DB4437;
}
.login-with i:hover{
    opacity: 0.7;
}
.close-button-reg{
    position: absolute;
    top: 6px;
    right: 9px;
    cursor: pointer;
}
.close-button-reg i{
    color: #6f6f6f;
    font-size: 18px;
}
.loading-block{
    text-align: center;
    padding-top: 23%;
    font-size: 40px;
}
#lost_password{
    text-align: center;
    display: block;
    padding: 10px;
}
.restore-block{
    position: relative;
    background: #fff;
    max-width: 350px;
    margin: 0 auto;
    padding: 15px 40px;
    border-radius: 10px;
    left: 0;
    right: 0;
    top: 20%;
    font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 1800px) {
    .gradient-weather{
        left: -127px;
        top: -152px;
        width: 67%;
        height: 185%;
    }
    .weather-blue{
        height: 150px;
    }
    .current-day-right-column img{
        max-width: 30%;
    }
    #search_input{
        width: 85%;
    }
    .main_category h2 {
        font-size: 35px;
    }
}
@media screen and (max-width: 1600px) {
    .camera-block-background h6 {
        padding: 8px 15px 0;
        font-size: 13px;
    }
}
@media screen and (max-width: 991px) {
    .gradient-weather{
        width: 39%;
        height: 202%;
        left: -34px;
        top: -160px;
    }
    #search_input{
        width: 76%;
    }
    .weather-blue .col-md-6{
        width: 50%;
        float:left;
    }
    .weather-blue{
        height: auto;
    }
    .weather_block_page .col-md-6:last-child{
        padding-left: 15px;
    }
    .weather-blue .col-md-4{
        width: 33.333%;
        float:left;
    }
    .weather-blue .col-md-5{
        float:left;
        width: 41.66666667%;
    }
    .weather-blue .col-md-7{
        float:left;
        width: 58.33333333%;
    }
    .weather-blue .col-md-2{
        width: 16.66666667%;
        float: left;
    }
}
@media screen and (max-width: 768px) {

    .dropdown-menu{
        max-height: 100%;
    }

    .fp-topleft img {
        max-width: 50px;
    }
    .cam-head-img{
        position: relative;
        margin: 0 auto;
        display: block;
    }
    .blog-block{
        width: 50%;
    }
    .description-cameras{
        padding:10px 0;
    }
    .section-camera, .show-normal{
        display: none;
    }
    .section-choose-cameras{
        width: 50%;
        float:left;
    }
    .section-block-cameras {
        left: 0!important;
    }
    .description-cameras p{
        line-height: 1.5;
    }
    .arrow-selected-cameras{
        right: -15px;
    }
    .search-form{
        display: none;
    }
    .only_mobile .search-form{
        display: block;
        margin: 10px 0;
    }
    .search-block-form{
        float: none;
    }
}
@media screen and (max-width: 500px) {
    .gradient-weather{
        width: 54%;
    }
    .weather-blue .col-md-2{
        padding: 0 10px;
    }
    .blog-block{
        width: 100%;
    }
    .nothing-found{
        font-size: 18px;
    }
    #find_cameras_button{
        font-size: 18px;
        padding: 12px 25px;
        height: 43px;
    }
    #search_input{
        padding: 7px 15px;
        width: 73%;
        height: 43px;
        line-height: 1.4;
    }
    .weather_day_new .text-row p {
        font-size: 15px;
    }
    .col-day-other h5 {
        font-size: 13px;
    }
    .current-day-right-column img {
        left: 20px;
    }
    .weather-blue .col-md-7,  .weather-blue .col-md-5{
        float:none;
        width: 100%;
    }
    .weather_day_new .text-row {
        text-align: center;
    }
    .weather_day_new h4 {
        text-align: center;
    }
    .current-day-right-column h5 {
        text-align: right;
    }
    .weather_day_new .col-md-6{
        padding: 0;
    }
    .weather-blue .col-md-4{
        width: 100%;
        float: none;
        overflow: hidden;
    }
    .weather-blue .col-md-4 h5{
        font-size: 16px;
        float: left;
        padding: 14px;
    }
    .weather-blue .col-md-4 img{
        float: left;
        width: 30px;
        margin-top: 8px;
    }
    .weather-blue .col-md-4 p{
        float: left;
        padding: 10px;
        margin: 0;
        font-size: 20px;
    }
}
@media screen and (max-width: 400px) {
    .weather-blue .col-md-4 p {
        font-size: 16px;
    }
    .weather-blue .col-md-4 h5 {
        font-size: 13px;
    }
    .weather-blue .col-md-4 img {
        width: 25px;
    }
}

.jquery-modal.blocker {
    z-index: 10;
}

.jquery-modal.blocker .modal-dialog {
    width: auto;
}

.jquery-modal.blocker a.close-modal {
    top: 5px;
    right: 5px;
}