.ms-caro3d-template {
    width: 100%;
    margin: 0 auto;
}

.ms-caro3d-template .master-slider .ms-container {
    padding: 10px 0 50px 0;
}

/* reflect */
/*.ms-caro3d-template .ms-slide {
    -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(255, 255, 255, 0.5)));
}*/

.ms-caro3d-template .ms-slide-bgcont {
    border-radius: 8px;
}

.ms-caro3d-template .ms-slide .play_button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    height: 100px;
    z-index: 3;
    text-align: center;
    display: block;
}

.ms-caro3d-template .ms-slide h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 992px) {
    .ms-caro3d-template .ms-slide h3 {
        font-size:18px;
    }

}