.fp-logo {
    /* logo always visible, even on origin domain */
    display: block !important;
    right: auto; /* avoid logo being stuck on left side */
    left: 2%;
    z-index: 1000;
    bottom: 10%;
    position: absolute;
}
.fp-logo img{
    width: 100%;
}
.fp-sponsor{
    top: 15px;
    z-index: 1000;
    position: absolute;
    right: 15px;
    max-width: 160px;
}

.fp-sponsor-bottom{
    top: 150px;
}

.fp-sponsor-img{
    width: 100%;
}

/*HOVER ANIMATION*/
.fp-sponsor-img:hover{ /*.fp-logo:hover*/
    animation: animationHover ease-in-out 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationHover ease-in-out 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationHover ease-in-out 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationHover ease-in-out 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationHover ease-in-out 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}
@keyframes animationHover{
    0% {
        transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
        transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
        transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
        transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    100% {
        transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
}
@-moz-keyframes animationHover{
    0% {
        -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -moz-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
        -moz-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
        -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
        -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    100% {
        -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
}
@-webkit-keyframes animationHover {
    0% {
        -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
        -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
        -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
        -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    100% {
        -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
}
@-o-keyframes animationHover {
    0% {
        -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -o-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
        -o-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
        -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
        -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    100% {
        -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
}
@-ms-keyframes animationHover {
    0% {
        -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -ms-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    20% {
        -ms-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
    }
    30% {
        -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
    }
    60% {
        -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    100% {
        -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
}
/*END OF HOVER ANIMATION*/

/*ONE IN A MINUTE ANIMATION*/
.fp-sponsor-minute{
    animation: once-a-minute ease-in-out 30s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: once-a-minute ease-in-out 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: once-a-minute ease-in-out 30s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: once-a-minute ease-in-out 30s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: once-a-minute ease-in-out 30s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}
@keyframes once-a-minute{
    0% {
        transform:  translate(0px,0px)  ;
    }
    98.5% {
        transform:  translate(0px,0px)  ;
    }
    98.8% {
        transform:  translate(0px,0px)  ;
    }
    99.1% {
        transform:  translate(0px,-15px)  ;
    }
    99.4% {
        transform:  translate(0px,0px)  ;
    }
    99.7% {
        transform:  translate(0px,-5px)  ;
    }
    100% {
        transform:  translate(0px,0px)  ;
    }
}
@-moz-keyframes once-a-minute{
    0% {
        -moz-transform:  translate(0px,0px)  ;
    }
    95% {
        -moz-transform:  translate(0px,0px)  ;
    }
    96% {
        -moz-transform:  translate(0px,0px)  ;
    }
    97% {
        -moz-transform:  translate(0px,-15px)  ;
    }
    98% {
        -moz-transform:  translate(0px,0px)  ;
    }
    99% {
        -moz-transform:  translate(0px,-5px)  ;
    }
    100% {
        -moz-transform:  translate(0px,0px)  ;
    }
}
@-webkit-keyframes once-a-minute {
    0% {
        -webkit-transform:  translate(0px,0px)  ;
    }
    95% {
        -webkit-transform:  translate(0px,0px)  ;
    }
    96% {
        -webkit-transform:  translate(0px,0px)  ;
    }
    97% {
        -webkit-transform:  translate(0px,-15px)  ;
    }
    98% {
        -webkit-transform:  translate(0px,0px)  ;
    }
    99% {
        -webkit-transform:  translate(0px,-5px)  ;
    }
    100% {
        -webkit-transform:  translate(0px,0px)  ;
    }
}
@-o-keyframes once-a-minute {
    0% {
        -o-transform:  translate(0px,0px)  ;
    }
    95% {
        -o-transform:  translate(0px,0px)  ;
    }
    96% {
        -o-transform:  translate(0px,0px)  ;
    }
    97% {
        -o-transform:  translate(0px,-15px)  ;
    }
    98% {
        -o-transform:  translate(0px,0px)  ;
    }
    99% {
        -o-transform:  translate(0px,-5px)  ;
    }
    100% {
        -o-transform:  translate(0px,0px)  ;
    }
}
@-ms-keyframes once-a-minute {
    0% {
        -ms-transform:  translate(0px,0px)  ;
    }
    95% {
        -ms-transform:  translate(0px,0px)  ;
    }
    96% {
        -ms-transform:  translate(0px,0px)  ;
    }
    97% {
        -ms-transform:  translate(0px,-15px)  ;
    }
    98% {
        -ms-transform:  translate(0px,0px)  ;
    }
    99% {
        -ms-transform:  translate(0px,-5px)  ;
    }
    100% {
        -ms-transform:  translate(0px,0px)  ;
    }
}
/*END OF ANIMATION*/

/*START OF start ANIMATION*/
.fp-sponsor{
    animation: pop-after-loading ease-in-out 5s;
    transform-origin: 0% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: pop-after-loading ease-in-out 5s;
    -webkit-transform-origin: 0% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: pop-after-loading ease-in-out 5s;
    -moz-transform-origin: 0% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: pop-after-loading ease-in-out 5s;
    -o-transform-origin: 0% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: pop-after-loading ease-in-out 5s;
    -ms-transform-origin: 0% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}
@keyframes pop-after-loading{
    0% {
        transform:  translate(0px,0px)  ;
    }
    88% {
        transform:  translate(0px,0px)  ;
    }
    90% {
        transform:  translate(0px,10px)  ;
    }
    92% {
        transform:  translate(0px,-10px)  ;
    }
    95% {
        transform:  translate(0px,4px)  ;
    }
    97% {
        transform:  translate(0px,-4px)  ;
    }
    100% {
        transform:  translate(0px,0px)  ;
    }
}
@-moz-keyframes pop-after-loading{
    0% {
        -moz-transform:  translate(0px,0px)  ;
    }
    88% {
        -moz-transform:  translate(0px,0px)  ;
    }
    90% {
        -moz-transform:  translate(0px,10px)  ;
    }
    92% {
        -moz-transform:  translate(0px,-10px)  ;
    }
    95% {
        -moz-transform:  translate(0px,4px)  ;
    }
    97% {
        -moz-transform:  translate(0px,-4px)  ;
    }
    100% {
        -moz-transform:  translate(0px,0px)  ;
    }
}
@-webkit-keyframes pop-after-loading {
    0% {
        -webkit-transform:  translate(0px,0px)  ;
    }
    88% {
        -webkit-transform:  translate(0px,0px)  ;
    }
    90% {
        -webkit-transform:  translate(0px,10px)  ;
    }
    92% {
        -webkit-transform:  translate(0px,-10px)  ;
    }
    95% {
        -webkit-transform:  translate(0px,4px)  ;
    }
    97% {
        -webkit-transform:  translate(0px,-4px)  ;
    }
    100% {
        -webkit-transform:  translate(0px,0px)  ;
    }
}
@-o-keyframes pop-after-loading {
    0% {
        -o-transform:  translate(0px,0px)  ;
    }
    88% {
        -o-transform:  translate(0px,0px)  ;
    }
    90% {
        -o-transform:  translate(0px,10px)  ;
    }
    92% {
        -o-transform:  translate(0px,-10px)  ;
    }
    95% {
        -o-transform:  translate(0px,4px)  ;
    }
    97% {
        -o-transform:  translate(0px,-4px)  ;
    }
    100% {
        -o-transform:  translate(0px,0px)  ;
    }
}
@-ms-keyframes pop-after-loading {
    0% {
        -ms-transform:  translate(0px,0px)  ;
    }
    88% {
        -ms-transform:  translate(0px,0px)  ;
    }
    90% {
        -ms-transform:  translate(0px,10px)  ;
    }
    92% {
        -ms-transform:  translate(0px,-10px)  ;
    }
    95% {
        -ms-transform:  translate(0px,4px)  ;
    }
    97% {
        -ms-transform:  translate(0px,-4px)  ;
    }
    100% {
        -ms-transform:  translate(0px,0px)  ;
    }
}
/*END OF ANIMATION*/

#ad, .fp-logo, .fp-sponsor {
    opacity: 0.9 !important;
}

.flowplayer .controls {display: none;}

.flowplayer .fp-embed {
    display: none;
}
.flowplayer .fp-share{
    display: none;
}




.ima-container {
    position: absolute;
    width: 100%;
    z-index: 1000
}
.ima-container.autoalign {
    bottom: 7%;
    text-align: center
}

.autoalign {
    position: absolute;
    width: 100%;
    z-index: 9;
    max-width: 728px;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
}

.autoalign .adDisplay.scalable {
    margin: auto
}

.autoalign .recall-button {
    margin: auto
}
.yt-text-overlay.autoalign .recall-button {
    margin: auto auto 6px
}

.recall-button {
    background: rgba(200, 200, 200, 0.2) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAMAAAD3JJ6EAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAA5FBMVEWlh1//4V9iABzh6//T1/82GAAzKABGKABGKAD/4bn1///3+v/z9//m7//L3P8AAw1GGABUNgD/+v/5/f/h6/8ACyEACx++1//d7P8tc/87KAD+/f/2+v8ATL0DAAAABhcAA18WAAIwh//Z6P8ADSIACzYDAAcEAALP5P/5+//v9v+avP8cCAAUCgASCgD/4eb19//8/P/y9v8ASacAMWzZ6f/U5v8PACM0AAX/+fv6+//K2f8ABg8AAAUFAAkAAxW20//f7f8AD1DV1/8APKoCAAcLAAhLAAUSAAkAFDsHBAD///8jMQ5iAAAAS3RSTlMAAwQaFhANEBMDBkVwaTYPEBMoc1ExOEZbDRg2cRZAJAgeGGEdBiYxHnNuGBgzOwYQXm4ZJ2NGEQsrdDg5MxUfPWQREBE3GgYVJDh1ZWACAAAAAWJLR0RLaQuFUAAAAGBJREFUCNdjYGRgYGJmYWVj52DgZOTi5uHl4xcQZOAUEhYRFROXkJRikJaRlZNXUFRSVmFQVVPX0NTS1tHVY9A3MDQyNjE1M7dgsLSytrG1s3dwdGJwdnF1Y+B09/D0AgBBxArrcQfhygAAAABJRU5ErkJggg==) no-repeat center;
    border: 1px solid rgba(255, 255, 255, 0.498039);
    border: 1px solid rgba(255, 255, 255, 0.498039);
    box-shadow: rgba(0, 0, 0, 0.701961) 0 4px 3px;
    color: #fff;
    cursor: pointer;
    height: 11px;
    width: 26px;
    z-index: 1001
}
.yt-text-overlay .recall-button {
    background: rgba(0, 0, 0, 0.15) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAQAAAC7znxOAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAsSURBVAjXY/jPAIG/0mAsuMCv/zBBhMB/mCCyAFQQVeD/r/+/0hh//WdAAwBqlUHXRz8MQAAAAABJRU5ErkJggg==) no-repeat center;
    border: 1px solid rgba(0, 0, 0, 0);
    box-shadow: none;
    height: 17px;
    width: 29px
}

.recall-button:hover {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAAAAAAUx4O/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAABLSURBVAjXFYtZEcBACENxgIRKQAISVgoSkLASKgUJSEACEtI0PznmRQCM+9AESI3Qy9hmBdTjK8Weib1LoIxqAhua3CUh7/nf6DMfPd0v3Khdg6cAAAAASUVORK5CYII=) no-repeat center
}
.yt-text-overlay .recall-button:hover {
    background: rgba(0, 0, 0, 0.15) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAQAAAC7znxOAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAsSURBVAjXY/jPAIG/0mAsuMCv/zBBhMB/mCCyAFQQVeD/r/+/0hh//WdAAwBqlUHXRz8MQAAAAABJRU5ErkJggg==) no-repeat center;
    border: 1px solid rgba(255, 255, 255, 0.5)
}



.adDisplay {
    display: inline-block;
    position: relative;
    width: 100%;
}
.adDisplay.endslate {
    left: 0;
    right: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.adDisplay.fullslot {
    left: 0;
    right: 0;
    text-align: center
}
.adDisplay.scalable {
    display: block;
    min-width: 320px;
    max-width: 450px
}


.extra-padding .close-padding {
    padding-left: 20px
}
.extra-padding.wide-overlay-ad .close-padding {
    padding-left: 25px
}


.image-container {
    display: inline-block;
    pointer-events: auto;
    position: relative;
}

.paszone_container{
    margin: 0 auto;
}

.close-padding {
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1001
}

.close-button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAC3SURBVBjTddAxbsJAEADAuZOVKn0kWkeIJh+IXOQJlt+Sp/COyE+gQBFPoHBaZFDkiuqKQMHhBAVvtXuju93b8KI+vboXn9oQlqfSVHwpSizu4lYpXotO9y+juB6twfOfbOToANb6fPNg7iIoNLm84FyTn42QDBqz3G+mMUi/TLKxy7yzyThyZwUewWqcPXMPFt7zDvrbj1WIat9qH35Ut0zlwSBJ3sbOFHtPthM734ttOE7gURvO57AyavXUXEcAAAAASUVORK5CYII=);
    float: right;
    height: 15px;
    margin: 5px 4px 0 0;
    width: 15px
}
.close-button:focus {
    outline-width: 0
}
.yt-text-overlay .close-button {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAAmJLR0QA/4ePzL8AAADdSURBVAjXAdIALf8A27rb69t02wQAANsF23jb7Nu1AAAB2/UACvr9wqMgcyRgAIQACfb7L44DbgH7QAYDFCr7QQ5RAQ77/aLixgABAACbpzFSDwYAAAAA8fml44/dAKAAAAAAAMDP2//b/9v/pOsArQBVAAACAADbcRsXAAAAAAAAJQ1/CwCrAAAD23YAgwAR9fnQ8BAFDwYoIDQhsbEB2/QAC/v9nOCj2XUJTT8EAvb7L1sCAM33/KLhlN3robNUya74/Nr0AF0BAAAAkQAjAKcAqQD8AAQAWgBXANbCiVTrFOn0bgAAAABJRU5ErkJggg==);
    height: 10px;
    margin: 9px 9px 0 0;
    width: 10px
}
.close-padding:hover .close-button {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAACzSURBVBjTddAtzsJAEADQt1CN/xRBIIFwge8AeAzpabgIHiQCT3qD4hCEQIIkBNtQzLY0gY7YzOzb3wlT8/Lfr9jbhLAqh9riKGQlg594QqcqcvlXRlJN7cCokdUcXMHOxQFcjakO70rj6kPcmep+uPCQ6sf7+lIPxYcpZM6Rz7KINee2oAe29dsjX8DE0qRR1x+bIVi4W3gpzSI3upagiGPVteTmz6ml5zeddXi24NM6vAFhCzSMfomhxwAAAABJRU5ErkJggg==)
}
.yt-text-overlay .close-padding:hover .close-button {
    background-color: rgba(0, 0, 0, 0.15);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAAAAmJLR0QA/4ePzL8AAAC6SURBVAjXJci9SsNQAIDRT6i4d3Lvw/gEVfEtFBHBVaGDi+CsOBUpgpQWYgd/Fh2ddLEFJwejEdoa7k1SP4ec8eDI1F0b4LL7fjkE/NVQXZ+/NN0x11lBBw/iQn/i+PHvW2PVmdAHBt0sqmoWDt9I2ATg/bnOu5Qr2gC47Uedn+E0qWvPXKfhPp0WGsrkDHCusToarw4vbouFzgra+DAvjycrN6yvNUe9vHzK6C8BJ7TocklFgy02eP0Hcq6CI3X8aBcAAAAASUVORK5CYII=);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.5);
    height: 20px;
    margin: 4px 4px 0 0;
    width: 20px
}
@media (max-width: 768px) {
    .fp-logo{.fp-sponsor-img
        display: none;
        width: 50px;
    }
    .ima-container.autoalign {
        width: 85%;
        height: 60px;
        left: 0;
        right: 0;
        margin: 0 auto;
        overflow: hidden;
        bottom: 15%;
    }
    .fp-sponsor{
        max-width: 50px;
    }
}

.stream-error-message {
    font-size: 4rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15.25% 20px;
}