.shop-menu {
    overflow: hidden;
    margin-bottom: 10px;
}

.shop-menu-categories {
    width: 30%;
    float: left;
    background: #8DD7F4;
    border-radius: 10px;
    overflow: overlay;
    height: 50px;
}

.shop-menu-categories a {
    color: #ffffff;
    font-size: 18px;
}

.shop-menu-categories ul {
    height: 100%;
}

.shop-menu-categories ul li {
    float: left;
    border-left: 1px solid #ffffff;
    padding: 15px 30px;
    height: 100%;

}

.shop-menu-categories ul li:last-child {
    border-right: 0;
}

.shop-search {
    float: left;
    width: 50%;
    height: 50px;
    overflow: hidden;
    padding: 4px 10px;
}

.shop-search input, .shop-search form {
    height: 100%;
}

.shop-search input:focus {
    outline: none;
}

.shop-search input.search-field {
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 50px;
    font-size: 18px;
    border: 1px solid #C7CCD2;
    width: 100%;
    margin-right: 0px;
    display: block;
    float: left;
}

.shop-search input.search-submit {
    background: #ffffff;
    border: 1px solid #C7CCD2;
    border-radius: 0px 50px 50px 0px;
    width: 47px;
    color: #fff;
    background-image: url(../images/icon-search.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-left: -47px;
}

.shop-menu-cart {
    float: left;
    width: 20%;
}

.shop-menu-cart a {
    height: 50px;
    background-color: #84716B;
    color: #ffffff;
    display: block;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
}

.products li {
    float: left;
    width: 20%;
    border: 1px solid #C7CCD2;
    margin: 5px;
}

.products li img {
    width: 100%;
    height: auto;
}

.products li h2 {
    font-size: 14px;
    min-height: 30px;
}

.products li .price {
    display: block;
    color: black;
    margin:5px 0px;
}
.products li .added_to_cart {
    display: none;
}
.products li .item_container {
    padding:10px;

}
.products li .add_to_cart_panel {
    background: #EEEEEE;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #C7CCD2;
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
}

.products li .add_to_cart_panel a, .products li .add_to_cart_panel a:focus, .products li .add_to_cart_panel a:visited {
    color: #888984;
}
.add_to_cart_panel a{
    display: block;
    width: 100%;
}
.woocommerce-product-gallery {
    float:left;
    width: 60%;
    border: 1px solid #E0E0E0;
    text-align: center;
}
.flex-viewport {
    float:left;
    width:75%;
}

.flex-control-nav {
    float:left;
    width: 25%;
}

.woocommerce-product-gallery .flex-control-thumbs {
    overflow: hidden;
}

.woocommerce-product-gallery .flex-control-thumbs li {
    list-style: none;
    display: block;
    width: 100%;
}


.woocommerce-product-gallery .flex-control-thumbs li img {
    max-width: 180px;
}

.product_title {
    font-weight: normal;
}

.product .summary {
    padding-left: 12px;
    float: left;
    width: 40%;
}

.product_status {
    font-size: 14px;
    margin: 14px 0px;
    color: #6E6F73;
}
.shop_attributes ul {
    list-style: circle outside;
    padding-left: 15px;
}
.product .price{
    font-size: 24px;
    margin:10px 0;
}
.quantity input {
    width: 100%;
    height: 36px;
    font-size: 18px;
    border: 1px solid #E0E0E0;
    margin: 10px auto;
    padding-left: 8px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.single_add_to_cart_button  {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: #ffffff;
    background-color: #6DB468;
    outline: none;
}
.woocommerce form .form-row .input-checkbox{
    position: relative;
}
.woocommerce #payment .terms, .woocommerce #payment .wc-terms-and-conditions, .woocommerce-page #payment .terms, .woocommerce-page #payment .wc-terms-and-conditions{
    width: 50%;
}
.woocommerce-notice--success{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
.woocommerce-order-details__title{
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}
.woocommerce-order{
    text-align: center;
}
.ul-success-block{
    display: inline-block;
}
.add_to_cart_panel:hover{
    background: #8DD7F4!important;
}
.cart_totals  h2{
    padding: 10px;
    text-transform: uppercase;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    padding: 5px 10px;
}
@media (max-width: 768px) {
    .shop-menu-cart a{
        padding-top: 8px;
    }
    .products li {
        width: 48%;
    }
    .woocommerce-product-gallery{
        width: 100%;
    }
    .product .summary {
        width: 100%;
    }
    .product h2{
        text-transform: uppercase;
        text-align: center;
        padding: 40px 10px 20px;
    }
}
@media (max-width: 425px) {
    .products li {
        width: 98%;
        text-align: center;
    }
    .products li img {
        width: auto;
        height: 200px;
        margin: 0 auto;
        display: block;
    }
}