#my-video_ima-ad-container{
    display: none;
}
.blc-js{
    position: relative;
    z-index: 9;
}
.video{
    margin:0 auto;
    position: relative;
}

.stream-error-message {
    font-size: 4rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15.25% 20px;
}

.blc-js .vjs-control-bar{
    background: rgba(0,0,0,0.5);
    /*margin: 0 25px 15px 100px;
    width: auto;
    border-radius: 10px;*/
    height: 25px;
}
.blc-js .vjs-play-control{
    /*left: -83px;
    font-size: 18px;
    top: -8px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    height: 39px;*/
    top: 2px;
}
.blc-js .vjs-volume-menu-button, .blc-js .vjs-volume-panel{
    /*left: -70px;
    top: 2px;*/
    top: 3px;
}
.blc-js .vjs-control:before{
    line-height: 1.2;
}
.blc-js .vjs-control:focus{
    outline: none;
}
.blc-js .vjs-control:hover{
    text-shadow: 0 0 1em #fff;
}
.blc-js .vjs-button>.vjs-icon-placeholder:before{
    line-height: 1.2;
}
.blc-js .vjs-volume-menu-button .vjs-menu-content, .blc-js .vjs-volume-vertical{
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
}
.blc-js .vjs-volume-horizontal{
    top: -5px;
}
.blc-js .vjs-live-display{
    /*left: -65px;*/
    top: -2px;
    position: relative;
    margin-left: 10px;
    display: none;
}
.blc-js .vjs-fullscreen-control{
    top: 2px;
}
.blc-js .vjs-icon-photo{
    position: absolute;
    right: 40px;
    font-size: 12px;
    cursor: pointer;
    width: auto;
}
.blc-js .vjs-big-play-button{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.blc-js .vjs-resolution-button{
    position: absolute;
    top: -25px;
    right: 54px;
    font-size: 9px;
    color: #fff;
}
.blc-js .vjs-resolution-button .vjs-menu-content{
    bottom: 0;
}
.blc-js .vjs-progress-control{
    display: none;
}
.blc-js .vjs-time-control{
    right: 20px;
    line-height: 2.5em;
}
.blc-js .vjs-live-control{
    display: flex!important;
}
.vjs-error .vjs-error-display:before{
    content: '';
}
